@charset "UTF-8";

/* ----------------------------------------------------------
  Simple preview grid
---------------------------------------------------------- */

.wpugmapsabox-grid {
    overflow: hidden;
}

.wpugmapsabox-grid > * {
    float: left;
    width: 50%;
}

.wpugmapsabox-grid > *:not(.map-latlng--noform) + * {
    text-align: right;
}

.wpugmapsabox-grid + p {
    margin-top: 0;
}

.wpugmapsabox-grid a[target] {
    display: inline-block;
    padding-top: 20px;
    line-height: 1;
    vertical-align: top;
}

.wpugmapsabox-grid .map-preview {
    opacity: 0.70;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wpugmapsabox-grid .map-preview:hover {
    opacity: 0.99;
}

@media(max-width:1000px) {
    .wpugmapsabox-grid > * {
        float: none;
        width: auto;
        text-align: left;
    }
}
